.carousel {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 1;
    background-image: linear-gradient(270deg,  #1d1d1d6e, #31313175), url("Madrid.jpg");
    justify-content: center;
}

.card-container{
    display: flex;
    flex-direction: row;  
    justify-content: center; 
    align-items: center;
}

.heading-title{
    text-transform:uppercase;
    padding-top: 40px;
    text-align: center;
    font-family:sans-serif;
    font-size: 2rem; 
    color:white;
}

.heading-title--orange-font{
    color: #e54b2c;
}

.card{
    margin: 20px 20px;
    background-color: white;
    max-width: 250px ;
    height: auto;
    justify-content: center;
}

.card__image {
    max-width:100%;
    height: auto;
}

.card__caption{
    padding-left: 40px;
    text-transform:uppercase;
    color: #e54b2c;
    font-weight: bold;
}

.card__hotels-list{
    list-style-type: none
}

.card__cta{
    text-align:center;
    margin: 10px;
}

.button-cta{
    background-color:#169;
    color: white;
    border-style: none;
    text-transform:uppercase;
    font-weight: bold;
    margin: 10px; 
}

.button-arrow{
    background-color: transparent;
    border-style: none;
} 

.button-arrow__image{
    border-style: none;
    max-width: 60px;
    height: auto;
}

