
body{
    margin: 0;
    background:linear-gradient(0deg, rgba(69, 85, 131, 0.308), rgba(58, 78, 134, 0.308)), url(./img/fondo.jpg);  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;      
}

.title{
    width: 100%;
    height: 100px;
    background:linear-gradient(0deg, rgba(1, 1, 19, 0.493), rgba(1, 1, 19, 0.493));  
    color: white;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.grid{
    width: 80%;
    height: 60vh;
    margin: auto;
    margin-top: 100px;
    border: 2px solid rgb(251, 2, 2);
    display: grid;
    column-gap: 50px;
    grid-template-columns: [inicio] 1fr [finCard1] 1fr [finCard2] 1fr [finCard3]  ;
    grid-template-rows: [inicio] 1fr [fin] ;
    position: relative;
}

.item{
  
  background-color: rgba(255, 255, 255, 0.808);
}

.item:nth-of-type(1) {
    grid-column: inicio / finCard1;
    grid-row: inicio / final;
  }
  .item:nth-of-type(2) {
    grid-column: finCard1/ finCard2;
    grid-row: inicio / final;
  
  }
  .item:nth-of-type(3) {
    grid-column:finCard2 / finCard3;
    grid-row: inicio / final;

  }

.information{
  margin: 5px;
  }

.item__img{
  width: 100%;
  height: 60%;
}

.description{
  display: flex;
  height: auto;
  margin-top: 0;
  align-items: center;

 
}
.description__img{
  width: 5%;
  height: 5%;
 
}

.information__title{
    margin: 0;
    
}

.description__city{
  padding-right: 40%;
}



.btn__img{
  width: 5%;
  height: 10%;
  top: 50%;
  position: absolute;
 
}

