.container{
    max-width: 800px;
    margin:  auto;
    align-items: center;
  
}

.search{
    margin: 30px auto;
}

.card {
    max-width: 800px;
    border: 1px solid black;
    background-color: rgba(209, 205, 205, 0.952);
    margin:  auto;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}

.card--violet{
    background-color: rgba(255, 0, 242, 0.561);
}